* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header > * {
  margin: 2rem 1.5rem;
}

.header > a {
  text-decoration: none;
  color: inherit;
}

.header > div > a {
  text-decoration: none;
  color: #245d51;
  margin: 0 0.5rem;
}

.header > div > a:hover {
  font-weight: 600;
  border-bottom: 1px solid #245d51;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0
}

.main > h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.card {
  width: 25rem;
  max-width: 90%;
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.card > p {
  text-align: center;
  margin-bottom: 2rem;
}

.card > a,
.card > button {
  text-decoration: none;
  color: #245d51;
  font-weight: 600;
  border: 1px solid rgba(0,0,0,.2);
  padding: 0.5rem 1rem;
  display: block;
  margin: 1rem auto;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
  width: 100%;
  background: none;
  font-size: 1rem;
  font-family: inherit;
}

.card > a:hover,
.card > button:hover {
  transform: translateY(-2px);
}
